*{
    padding: 0; margin: 0;
}
/* Navbar-start */
.nav-header{
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    gap: 50px;
}

.nav-link li{
    list-style: none;
}

.nav-link li a{
    text-decoration: none; color: black; font-size: 15px;
}

.pri-btn{
    padding: 10px 20px; border: none; background-color: #469165; color: white; border-radius: 5px; font-size: 15px; cursor: pointer; display: flex; align-items: center; gap: 5px;
}

.pri-btn:hover{
    background-color: blue; color: yellow;
}

/* -------------------------------------------------- */

/* Bannar-start */
.bannar-main{
    background-image: url(./assets/hero-bg.png); height: 90vh; display: flex; flex-direction: column; justify-content: center; align-items: center;
}

.extra-btn-one{
    background-color: white; border-radius: 20px; border: none; padding: 5px 10px; cursor: pointer; color: gray; margin: 30px 0; display: flex; align-items: center; gap: 5px;
}

.extra-btn-one:hover{
    background-color: blueviolet; color: yellow;
}

.bannar-main h1{
    font-size: 50px;
}

.bannar-main p{
    color: #FFFFFF; padding: 25px 0;
}

.extra-btn-two{
    background-color: transparent; border: 1px solid snow; border-radius: 5px; padding: 10px 20px; color: white; cursor: pointer; display: flex; align-items: center; gap: 5px;
}

.extra-btn-two:hover{
    background-color: blueviolet; color: yellow; border: none;
}

.btn-div{
    display: flex; align-items: center; gap: 20px;
}
/* -------------------------------------------------- */

/* Note-section-start */
.note-main{
    margin-top: 50px;
}
.note-content{
    text-align: center;
}

.note-content h2{
    font-size: 45px; padding: 10px 0;
}

.note-content p small{
    color: rgb(163, 154, 154);
}

.card-style {
    padding: 24px; text-align: center; border: 1px solid rgb(233, 226, 226); border-radius: 10px;
    width: 250px;
}

.icon{
    width: 60px; height: 60px; background-color: #F95555; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin: 0 auto;           
}

.icon img{
    width: 28px; height: auto;
}

.card-style h3 {
    margin: 20px 0 10px;
}

.card-style p small {
    color: #666; line-height: 1.5;
}

.card-mother{
    padding: 0 150px; display: flex; gap: 25px; margin: 50px 0 ;
}

/* -------------------------------------------------- */
/* Solution-section-start */
.solution-main{
    padding: 0 150px; display: flex; align-items: center; gap: 50px;
}

.solution-content{
    display: flex; flex-direction: column; gap: 25px;
}

.solution-content h6{
    color: gray;
}

.solution-content p small{
    color: gray;
}

.nokta-mother{
    display: flex; flex-direction: column; gap: 10px;
}

.nokta{
    display: flex; align-items: center; gap: 5px;
}

.soloution-btn{
    padding: 10px 20px; border: none; background-color: #469165; color: white; border-radius: 5px; font-size: 15px; cursor: pointer;
}

.soloution-btn:hover{
    background-color: blue; color: yellow;
}

/* -------------------------------------------------- */
.more-mother{
    padding: 0 150px; margin: 100px 0;
}

.more-div{
    text-align: center; padding: 100px; background-color: #F7F6F2;
}

.more-div p{
    color: gray; padding: 25px 0;
}

.more-div h2{
    font-size: 50px; padding: 25px 0;
}

/* -------------------------------------------------- */
.footer{
    padding: 50px 150px; background-color: #001931;
}

.footer-div{
    display: flex; align-items: center; justify-content: space-between; padding: 50px 0;
}

.footer-div h5{
    color: white;
}

.footer p{
    color: wheat; padding: 25px 0; text-align: center;
}